<!--
	Bio Card Template.
	this is to be used in the teamMemberBio, in a teamMemberRow, which is inside the teamMemberPanel div.
-->

<!--
##	card goes in this area:  ##
-->
<html>
	<body>
		<div class="teamMemberPanel">
			<div class="teamMemberRow">
				<!-- PLACE BIO CARD HERE> -->
			</div>
		</div>
	</body>
</html>

<!--
##	Bio card template:  ##
-->
<div class="teamMemberBio">
	<div style="height:100%;">
		<div class="avatarBlock">
			<img class="teamMemberAvatar" style="" src="https://cdn.discordapp.com/attachments/413050815952060416/536615889861214228/sketch1548009563810.png">
		</div>
		<div style="text-align:center;">
			<b><p>
			ABagOfPowder
			</p></b>
			<div class="teamMemberSummary">
				<p>
				I am often in the streams of some of the other members of UH and friends. I am also responsible most of the behind the scenes stuff with UH.
				</p>
			</div>
		</div>
		<div>
			<p style="text-align:center;">
				<a href="#"><b>twitch</b></a><br/>
				<a href="#"><b>twitter</b></a><br/>
				<a href="#"><b>youtube</b></a><br/>
			</p>
		</div>
	</div>
</div><!-- end bio card -->