<!--
	Bio Card Template.
	this is to be used in the teamMemberBio, which is inside the teamMemberPanel div.
-->

<!--
##	card goes in this area:  ##
-->

<html>
	<body>
		<div class="teamMemberPanel">
			<!-- PLACE BIO CARD HERE> -->
		</div>
	</body>
</html>

<!--
##	[  Bio card template:  ]  ##
-->

<div class="teamMemberBio">
	<div class="avatarBlock">
		<img class="teamMemberAvatar" src="../assets/avatar/ABagOfPowder.png">
	</div>
	<div class="teamSummaryBlock">
		<div class="teamMemberSummary">
			<a style="text-decoration:none;" href="./teamABagOfPowder.htm">
				<p class="summaryTitle">
				Gamertag
				</p>
			</a>
			<p class="summaryText">
			this is my card text summary
			</p>
			<p class="summaryLinks">
			<a href="https://twitter.com/username">twitter</a>
			<a href="https://www.youtube.com/channelid">youtube</a>
			<a href="https://www.twitch.tv/username">twitch</a>
			</p>
		</div>
	</div>
</div><!-- end bio card -->