/*---
 * title:	home
 * import:	https://fonts.googleapis.com/css?family=Fjalla+One%27 
---*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One%27'); /* "Fjalla One" */

/*---
 * title:	eventCard Date
 * section:	within an article with class eventCard
 * 
 * date pretaining to an upcoming or recent event
 * Typically you'll want to use an '<h6>'
 *
 * ```example:html
 * <h6 class=eventCard">mm/dd/yyyy H:mm AM/PM (use time of writing) TIMEZONE</h6>
 * ```
---*/
h6.eventCard {
	font-family:serif;
	color:#606060;
}

/*---
 * title:	eventCard article
 * section:	Main Body
 * 
 * Detailing upcoming and recent events
 * Typically you'll want to use an '<article>'
 *
 * ```example:html
 * <article class=eventCard">event card text!</article>
 * ```
---*/
article.eventCard {
    color:#808090;
    background-color:#2f3136;
	font-family:'Fjalla One normal', sans-serif;
    border-style:solid;
    border-width:0px;
    border-radius: 30px;
    padding:10px 20px 10px 20px;
}
