/* imports */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One%27');
/*html elements*/
html {
}
body{
	background-color:#36393f;
	color:#000;
}
/* classes */

/* banner */
p.banner {
	display: flex;
    justify-content: center;	/* align horizontal */
    align-items: center;		/* align vertical */
	background-image: url(banner.png);
	font-family:"Fjalla One", sans-serif;
	color:#fff;
	font-size:200px;
}

/* belly band */
div.bellyband {
	display: flex;
    justify-content: center;	/* align horizontal */
    align-items: center;		/* align vertical */
	border-style:solid;
	border-color: #2b2c31;
	background-color: #2b2c31;
	text-align:center;
	width:100%;
	height:50px;
}